
*{
    margin: 0;
}

body{
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

.section-scroll {
  height: 0;
  scroll-margin-top: 90px;
}
    /* Navbar Area */

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  top: 0; 
  background-color: #8f8cf6;
  border-bottom: 1px solid #5e5b9d;
  z-index: 999;
}

.navbar-title {
  margin-right: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-container a {
  display: flex;
  align-items: center;
  gap: 6px; 
  padding: 10px 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-container a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-link.active {
  border-bottom: 2px solid #ffffff;
}

.navbar-container i {
  font-size: 8px;
}
    /* Navbar Area End */

    /* Content Area */
    /* Opener */
.opener-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
}

.opener-items {
  text-align: center;
}

.opener-items h1{
    color: #e5e5f7;
    -webkit-text-stroke: 2px #5e5b9d;
    font-size: 100px;
}

.colortext-opener{
    color: #6e6bba;
}

.opener-items p{
    font-weight: 300;
    font-size: 30px;
}

.opener-items h3 {
    align-items: center;
}

.opener-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s;
  padding: 12px 30px;
  margin-top: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #5C6BC0;
  background: #e5e5f7;
  border-radius: 6px;
  border: 2px solid #5C6BC0;
  min-width: 140px;
  min-height: 44px;
}

.opener-button:hover{
    color: #ffffff;
    background:#6e6bba;
}
    /* OpenerEnd */
    /* Chat */
.content-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #f5f7fa;
}

.chat-container{
    width:500px;
    height:550px;
    background:white;
    border:1px solid #ccc;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    opacity: 100%;
}

.chat-header{
    padding:10px;
    text-align:center;
    border-bottom:2px solid #ccc;
}

.chat-header h2{
    color: transparent;
    -webkit-text-stroke: 1px #6e6bba;
    margin:0;
    padding: 10px;
}

.chat-box{
    flex:1;
    padding:15px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
    scroll-behavior:smooth;
}

.message{
    padding:10px;
    border-radius:10px;
    max-width:70%;
    word-wrap:break-word;
}

.user{
    background:#8f8cf6;
    color:white;
    align-self:flex-end;
}

.bot{
    background:#8f8cf6;
    color: white;
    align-self:flex-start;
}

.input-area{
    display:flex;
    padding:15px;
    border-top:1px solid #eee;
    gap:5px;
}

.input-area input{
    flex:1;
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.input-area button{
    padding:10px 15px;
    background:#8f8cf6;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.input-area button:hover{
    background:#6e6bba;
}

.ai-card{
    background:#8f8cf6;
    border-radius:10px;
    padding:12px;
    border-left:5px solid #ccc;
    font-size:14px;
}

.ai-card .label{
    font-weight:bold;
    margin-bottom:8px;
}

.ai-card ul{
    padding-left:18px;
    margin:5px 0;
}

.ai-card li{
    margin-bottom:4px;
}

    /* ChatEND */

    /*Modul*/
.modul-container {
    background-color: #f5f7fa;
}

.title-modul{
    padding: 6% 0 0 80px;
    display: flex;
    color: #8f8cf6;
    font-size: 32px;
    align-content: center;
    justify-content: left;
}

.title-modul i{
    color: #8f8cf6;
    position: relative;
    top: 8px;
    right: 10px;
    font-size: 30px;
}

.card-modul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 2% 5% 5% 5%;
}

.modul-card {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

.modul-card:hover {
    transform: translateY(-5px);
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}

.full {
    grid-column: span 6;
}

.modul-card i {
    font-size: 28px;
    margin-bottom: 10px;
    display: block;
}

.modul-card:nth-child(1) i { color: #fbc02d; }
.modul-card:nth-child(2) i { color: #e53935; }
.modul-card:nth-child(3) i { color: #1e88e5; }
.modul-card:nth-child(4) i { color: #43a047; }
.modul-card:nth-child(5) i { color: #6d4c41; }
.modul-card:nth-child(6) i { color: #8e24aa; }
.modul-card:nth-child(7) i { color: #00897b; }

.modul-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.modul-card p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.modul-card.done {
    background-color: #e8f5e9;
    border-color: #8f8cf6;
}

.modul-card.done::after {
    content: "✓";
    position: absolute;
    top: 10px;
    right: 15px;
    color: #4caf50;
    font-size: 18px;
    font-weight: bold;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    inset: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}

.modal-header {
    position: sticky;
    top: 0;
    background: #8f8cf6;
    padding-bottom: 15px;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

.modal-header h2{
    position: relative;
    font-weight: 500;
    color: white;
    left: 20px;
    top: 8px;
}

.modal-content {
    background: #f9f9ff;
    padding: 25px;
    width: 60%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    position: relative;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: 1px solid #e0e0ff;
}

.modal-content p {
    margin-bottom: 15px;
    line-height: 1.7;
    text-align: justify;
}

.modal-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-content ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.modal-content li {
    margin-bottom: 8px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 0px 5px;
    color: #e53935;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
/* ModulEnd */

/* ContentAreaStart [MiniGame] */
.minigame-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;

}

.minigame-items{
    text-align: center;    
}

.colortext-modul{
    color: #e5e5f7;
    padding: 5px;
    background-color: #5C6BC0;
}

.minigame-items h1{
    color: #e5e5f7;
    -webkit-text-stroke: 2px #5C6BC0;
    font-size: 120px;
}

.minigame-items p{
    font-size: 20px;
}

.minigame-items h3 {
    align-items: center;
}
/* ContentAreaEND [MiniGame] */
    /* Content Area End */