<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<title>Anti Hoaks - Ketumbar</title>

<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- ContentArea -->
<div class="chat-container">
<div class="chat-header">
<h2>Anti Hoaks v0.01</h2>
</div>

<div id="chatBox" class="chat-box"></div>

<div class="input-area">
<input type="text" id="userInput" placeholder="Tulis pesan...">
<button onclick="sendMessage()">Kirim</button>
</div>
</div>
    <!-- ContentAreaEND -->
<script src="/static/js/hoax.js"></script>

</body>
</html>