<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<title>Anti Hoaks - Ketumbar</title>

<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- NavBarArea -->

    <section id="home" class="section-scroll"></section>
        <div class="navbar-container">
            <h3 class="navbar-title">AntiHoax</h3>
            <a href="#home" class="navbar-link"> Home </a>
            <a href="#chatBot" class="navbar-link"> ChatBot </a>
            <a href="#modul" class="navbar-link">Modul</a>
            <a href="#miniGames" class="navbar-link">Mini Games</a>
        </div>

    <!-- ContentArea -->

    <div class="opener-container">
        <div class="opener-items">
        <h1>Anti<span class="colortext-opener">Hoax</span>V1.0</h1>
        <p>Program ini masih dalam tahap <span class="colortext-opener">pengembangan</span></p>
        <button class="opener-button" id="btnScroll">Mulai Sekarang</button>
    </div>
    </div>

    <section id="chatBot" class="section-scroll"></section>
    <main class="content-container">
        <div class="chat-container">
            <div class="chat-header">
                <h2><span class="colortext-opener">AntiHoax</span> ChatBot</h2>
        </div>

    <div id="chatBox" class="chat-box"></div>

    <div class="input-area">
        <input type="text" id="userInput" placeholder="Tulis pesan...">
        <button onclick="sendMessage()">Kirim</button>
    </div>
        </div>
    </main>

    <section id="modul" class="section-scroll"></section>
    <main class="modul-container">
        <div class="card-modul">
            <div class="card1">1</div>
            <div class="card2">2</div>
            <div class="card3">3</div>
            <div class="card4">4</div>
            <div class="card5">5</div>
            <div class="card6">6</div>
            <div class="card7">7</div>
        </div>
    </main>
    
    <section id="miniGames" class="section-scroll"></section>
    <main class="minigame-container">
        <div class="minigame-items">
            <h1>Mini <span class="colortext-opener">Games </span></h1>
            <p><span class="colortext-modul">Minigames</span> berupa quiz yang berisi tentang pengertian <span class="colortext-modul">Hoax</span><br> bertujuan untuk mengukur kemampuan anda dalam mengulas sebuah berita online. <span class="colortext-modul">Anda Tertarik?</span></p>
            <button class="opener-button" id="btnScroll">Mulai Mini Games</button>
        </div>
    </main>
    <!-- ContentAreaEND -->
    
    <!-- FooterStart -->

    <!-- FooterEnd -->
<script src="/static/js/hoax.js"></script>

</body>
</html>